.modal {
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 153;
    font-family: 'TTLakes', sans-serif;

    @media (min-width: 1366px) {
        left: 0;
        top: 0;
    }

    
    &__heading {
        height: 40px;
        font-family: 'TTLakes', sans-serif;
        font-weight: bold;
        font-size: 28px;
        color: $color-text;
        padding-left: 16px;
        background: url("data:image/svg+xml,%3Csvg width='4' height='40' viewBox='0 0 4 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 4C4 1.79086 2.20914 0 0 0V0V40V40C2.20914 40 4 38.2091 4 36V4Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A") no-repeat;

        @media screen and (max-width: 767.98px) {
           margin-top: 104px;
        }

    }

    &__feedback {
        position: fixed;
        right: 0;
        top: 0px;
        bottom: 0px;
        flex-direction: column;
        min-width: 320px;
        width: 440px;
        height: 100%;
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
        background-color: white;
        
        @media screen and (max-width: 767.98px) {
            top: 0;
            left: 0;
            bottom: 0;
            width: auto;
        }
    }

    &__call {
        position: fixed;
        right: 0;
        top: 0px;
        bottom: 0px;
        flex-direction: column;
        min-width: 320px;
        width: 440px;
        height: 100%;
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
        background-color: white;
        
        @media screen and (max-width: 767.98px) {
            top: 0;
            left: 0;
            bottom: 0;
            width: auto;
        }

    }

    &__input:not(:last-child) {
        margin-top: 16px;
        width: 376px;
        height: 48px;
        border: 2px solid $gray-lighten;
        border-radius: 8px;
        padding-left: 8px;
        resize: none;
        outline: none;

        @media screen and (max-width: 767.98px) {
            width: auto;
        }
    }

    &__input:focus {
        border-color: $color-secondary;
    }

    &__input::placeholder {
        color: $gray;
        font-size: 14px;
        font-family: 'TTLakes', sans-serif;
        opacity: 0.5;
    }

    &__input-textarea {
        height: auto !important;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
        margin-right: 32px;
    }

    &__link {
        color: $color-main;
        text-decoration: none;
    }
    .button--close {
        display: block;
        position: fixed;
        right: 460px;
        top: 23px;
        bottom: 0px;
        z-index: 170;

        @media screen and (max-width: 767.98px) {
            display: block;
            position: fixed;
            left: 0;
            top: 24px;
            bottom: 0px;
            z-index: 170;
        }

        @media (min-width: 1366px) {
            right: 455px;
        }
    }
    .button--big {
        margin-left: auto;
    }
    
    &--hidden {
        display: none;
    }
}