.footer {
    border-top: 1px solid $color-secondary;
    margin-top: 40px;
    font-family: 'TTLakes';
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    width: 100%;

    @media screen and (max-width: 765.98px) {
        gap: 16px;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 6px;
    }

    &__link {
        text-decoration: none;
        color: $gray;
    }

    &__copyright {
        margin: 0;
        text-align: center;
        color: $gray;

        @media screen and (max-width: 765.98px) {
            margin-top: 10px;
        }

        @media (min-width: 768px) {
            text-align: left;
            margin-left: 24px;
        }
        
    }

    &__confidential {
        text-decoration: none;
        color: $gray;
        margin: 0;
        padding: 0;
    }

    &__offer {
        text-align: center;
        color: $gray;
        width: 85%;
        margin: 0;
        
        @media (min-width: 768px) and (max-width: 1365.98px) {
            text-align: right;
            width: 213px;
            height: 48px;
            margin-right: 24px;
        }

        @media (min-width: 1366px) {
            text-align: right;
            width: 273px;
            height: 48px;
            margin-right: 24px;
        }
    }
    
    &--hidden {
        display: none;
    }
}   